*.tar.gz
**/secrets.yaml
**/docker-data
**/configmap.yaml
.DS_Store
kratos/values.yaml
cloud/psql-public.yaml
cloud/psql-public-volume.yaml
calendar/backend.yaml
hydra/proxy.yaml
ghost/ghost.yaml
ghost/ghost-db.yaml
