server:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            tag: v2.1.0
          env:
            DB_HOSTNAME: "<db-host>"
            DB_USERNAME: "<username>"
            DB_PASSWORD: "<password>"
            DB_DATABASE_NAME: "<db-name>"
            REDIS_HOSTNAME: '{{ printf "%s-valkey" .Release.Name }}'
            IMMICH_MACHINE_LEARNING_URL: '{{ printf "http://%s-machine-learning:3003" .Release.Name }}'

valkey:
  enabled: true
  controllers:
    main:
      containers:
        main:
          image:
            repository: docker.io/valkey/valkey
            tag: 8.1-alpine@sha256:e706d1213aaba6896c162bb6a3a9e1894e1a435f28f8f856d14fab2e10aa098b
            pullPolicy: IfNotPresent

immich:
  persistence:
    library:
      existingClaim: photos-nfs-pvc
